<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.MyListenerClass" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.FlipkartProductTest"/>
      <!--<class name="tests.DataProviderTest"/>
      <class name="utils.TempDataIntoExcel"/>
      <class name="tests.MaxHealthcareTest"/>
      <class name="tests.ScrollUpDemo"/>
      <class name="tests.NDTVWeatherTest"/>
      <class name="tests.ReadTextFromBarcodeTest"/>
      <class name="tests.ETMoneyTest"/>
      <class name="tests.MyntraTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
